body{
    width:100%;
    margin: 15px 15px 15px 15px;
    background-color: aqua;
    
}
header{
    width: 100%;
    height: 10vh;
    height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Forest.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: ;
    
}

.header-text {
    
}
.header-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 4.8px;
    text-align: center;
    color: white;
}
.main-text {
    color: white;
    
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 6.8px;
    text-align: center;
}

nav{
    min-width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5474FD;
    
}
.menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly
    
}
.li {
    list-style-type: none;
    font-family: 'Aleo', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}
.li:hover {
    color: aquamarine;
    cursor: pointer;
}

.search-bar {
    
    height: 63px;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.7px;
}



.label{
    width: 153px;
    height: 63px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;

}

.Scroll-down{
    color: transparent;
    display: flex;
    justify-content: center;
}

.fa-angle-down{
    font-size: 40px;
}

.logo {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.logo_text {

}




.container-Why-Choose-Us {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Aleo', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    
    background-image: url(../images/sunset.svg);
    background-position:  ;
    background-repeat: ;
    background-size: ;
}

.Why-Us-main {
    color: #FFFFFF;
    
}

.info{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.6px;
    text-align: left;
    height: 158px;
    width: 560px;
    border-radius: nullpx;
    color: white;
}

.img{

} 

.btn {

}

.Explore-places-btn {
    
    width: 228px;
    border-radius: 0px;
    background-color: #5474FD;
    width: 179px;
    height: 63px;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.How-it-works {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    
    align-items: center;
    color: #E8E8E8;
}
.rectangle {
    width: 100%;
    height:337px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #333333;
    
}


.first-Group {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/house.svg);
    background-position: ;
    background-repeat: no-repeat;
    background-size: ;
}
.first-card { 
    max-width: 543px;;
    height: 374px;
   
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
}

.second-Group {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/mountin.svg);
    background-position: ;
    background-repeat: no-repeat;
    background-size: ;
}

.second-card {
    width: 543px;
    height: 374px;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
}

.info-text {
    width: 508px;
}




.BUTTON{
    font-family: 'Aleo', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.2px;
    width: 228px;
    height: 63px;
    background-color: #496BFE;   
}
.card2 {
    
    height: 374px;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
}
.Grand-Spain-Madrid {
    width: 241px;
    height: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FEFEFE;
}
.spain{
    color: #FFFFFF;
}
.info-text{
    color:#FFFFFF
}


.Testimonial {
    display: flex;
    height: 731px;  
    background-image: url(../images/Rectangle\ 4142\ 1.svg);
    background-position: ;
    background-repeat: no-repeat;
    background-size: ;
}
.content {
    align-items: center;
    display: flex;
    color: white;

}

.our-torist-says {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    /*align-items: center;
    text-align: center;*/
    color: white;
    width: 390px;
    height: 26px;
    
}
.sam-sumon {
    color:white;
    /*width: 150px;*/
    height: 26px;
    background-color: #333333; ;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    
    flex-direction: column;
    text-transform: uppercase;
}

.sam-sumon_title {



}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 3.36px;
    text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
    header {
        font-size: 20px;
            
    }
}

@media only screen and (max-width: 800px) {
    header {  
       font-size: 40px;
    }
}


.label:hover {
    width: 600px;
    transition: all 0.9s ease-in-out;
    
    background: red;
    transition: width 1s;
    border-color: transparent
}

.header-title:hover {
    color: transparent;
    background-color: transparent ;
}
    
.media {
    width: 166px;
    justify-content: space-between;
    display:flex;
    
}

.fa-facebook-f{
    font-family: FontAwesome;
    font-size: 16px;
    color: #E8E8E8;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 26px;
}

.fa-twitter{
    font-family: FontAwesome;
    font-size: 16px;
    color: #E8E8E8;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 26px;
}

.fa-linkedin-in{
    font-family: FontAwesome;
    font-size: 16px;
    color: #5474FD;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 26px;
}

.fa-youtube {
    font-family: FontAwesome;
    font-size: 16px;
    color: #E8E8E8;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center; 
    text-align: center; 
    letter-spacing: 1.6px;
    line-height: 26px;
}

.fa-pinterest{
    font-family: FontAwesome;
    font-size: 16px;
    color: #E8E8E8;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 26px;

}

/* .logo_footer{  */
    /* identical to box height, or 162% 
       
Men med hjälp av max-width, min-height, flexbox och ett par media queries,; 
} */


  


.footer {
    
    height: 268px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #232323;
    
}

.logo_footer {
    
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;

}    