body{
    

}

.header{
    width: 100%;
    
    
   
    
    

}
.main-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 4.800000190734863px;
    text-align: center;

    color: black;
}

.main-text {
    color: black;
}

h3 {
    color: black;

}

h4 {
    color: black;
}

.img {
    
}

.header {

}
.nav-bar {
    display: flex;
    background-color: #5474FD;
    ;
    
}
.menu {
    display: flex;
    
    
}

.li {
    list-style-type: none;
    

}

.logo {
    

}

.rectangle {

}

.search-bar {
    display: flex;
    justify-content: center;

}

.Scroll-down{
    display: flex;
    justify-content: center;
}

.Why-Choose-Us {

}

.Explore-places {

}

.How-it-works {

}

.Group-1 {

}

.Rectangle {

}

.Testimonial {

}

.Group-2 {

}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: ;
}